fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
openai==1.93.0
langchain==0.0.340
pydantic==2.5.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
pytesseract~=0.3.13
pillow~=11.2.1
starlette~=0.27.0
SQLAlchemy~=2.0.41
python-dotenv~=1.1.0
pip~=23.2.1
attrs~=25.3.0
distro~=1.9.0
cryptography~=45.0.2